
<style>
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial,
		Helvetica, STHeiti;
	margin: 0;
}

.main-nav {
	margin-left: 1px;	
}

.main-nav.nav-tabs.nav-stacked>li {
}

.main-nav.nav-tabs.nav-stacked>li>a {
	padding: 10px 8px;
	font-size: 14px;
	font-weight: 600;
	color: #4A515B; //MENU 字體
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white),
		color-stop(100%, #FAFAFA));
	background: -webkit-linear-gradient(top, #ffffff 85%,lavender 100%); <!--Bar顏色-->
	background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',
		endColorstr='#E9E9E9');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	border-radius: 4px;
}

.main-nav.nav-tabs.nav-stacked>li>a>span {
	color: #4A515B;
}

.main-nav.nav-tabs.nav-stacked>li.active>a, #main-nav.nav-tabs.nav-stacked>li>a:hover
	{
	color: #FFF;
	background: #3C4049;
	background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4A515B),
		color-stop(100%, #3C4049));
	background: -webkit-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: -o-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: -ms-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: linear-gradient(top, #4A515B 0%, #3C4049 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B',
		endColorstr='#3C4049');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
	border-color: #2B2E33;
}

#main-nav.nav-tabs.nav-stacked>li.active>a, #main-nav.nav-tabs.nav-stacked>li>a:hover>span
	{
	color: #FFF;
}

.main-nav.nav-tabs.nav-stacked>li {
	margin-bottom: 4px;
}

.nav-header.collapsed>span.glyphicon-chevron-toggle:before {
	content: "\e114";
}

.nav-header>span.glyphicon-chevron-toggle:before {
	content: "\e113";
}

footer.duomi-page-footer {
	background-color: white;
}

footer.duomi-page-footer .beta-message {
	color: #a4a4a4;
}

footer.duomi-page-footer .beta-message a {
	color: #53a2e4;
}

footer.duomi-page-footer .list-inline a, footer.authenticated-footer .list-inline li
	{
	color: #a4a4a4;
	padding-bottom: 30px;
}

footer.duomi-page-footer {
	background-color: white;
}

footer.duomi-page-footer .beta-message {
	color: #a4a4a4;
}

footer.duomi-page-footer .beta-message a {
	color: #53a2e4;
}

footer.duomi-page-footer .list-inline a, footer.authenticated-footer .list-inline li
	{
	color: #a4a4a4;
	padding-bottom: 30px;
}

.secondmenu a {
	font-size: 12px;
	color: #4A515B;
	text-align: left;
	border-radius: 4px;
	margin-left:5px;
}

.secondmenu>li>a:hover {
	background-color: #6f7782;
	border-color: #428bca;
	color: #fff;
}

.secondmenu li.active {
	background-color: #6f7782;
	border-color: #428bca;
	border-radius: 4px;
}

.secondmenu li.active>a {
	color: #ffffff;
}

.navbar-static-top {
	background-color: #212121;
	margin-bottom: 5px;
}

.navbar-brand {
	display: inline-block;
	vertical-align: middle;
	padding-left: 50px;
	color: #fff;
}

.navbar-brand:hover {
	color: #fff;
}

.collapse.glyphicon-chevron-toggle, .glyphicon-chevron-toggle:before {
	content: "\e113";
}

.collapsed.glyphicon-chevron-toggle:before {
	content: "\e114";
}

</style>

<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){ 	
	var x = [[${session.menu}]];
	$("#"+x).css("color","orange");
})
</script>
<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="letter-spacing:1px;white-space: nowrap;width:130px">
<!-------------------------------------------------->
<li>
	<a id='1' href="#firstPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;首 頁
		<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="firstPage" class="nav nav-list secondmenu collapse" style="height: 0px;">
	        <li><a href="/?menu=1" style='letter-spacing:5px;font-weight:bold'>&bull;首頁</a></li>
	        <li><a href="/My/MyAccount?menu=1" style='letter-spacing:5px;font-weight:bold'>&bull;帳號</a></li>
	</ul>
</li>
<!-------------------------------------------------->	
<li>
    <a id='2' href="#coursePage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;課 務
		<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
    </a>
	<ul id="coursePage" class="nav nav-list secondmenu collapse" style="height: 0px;">
		<li><a href="/Course/CourseSetting?menu=2" style='letter-spacing:5px;font-weight:bold'>&bull;課程設置</a></li>
		<li><a href="/CourseSale/ComboSaleSetting?menu=2" style='letter-spacing:5px;font-weight:bold'>&bull;課務銷售</a></li>
		<li><a href="/Course/OnsiteProgram?menu=2" style='letter-spacing:5px;font-weight:bold'>&bull;課表顯示</a></li>
		<li><a href="/Marketing/ClassTrial?menu=2" style='letter-spacing:2px;font-weight:bold'>&bull;講座/進班試聽</a></li>
	</ul>
</li>
<!-------------------------------------------------->
<li>
    <a id='3' href="#marketPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;企 劃
			<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="marketPage" class="nav nav-list secondmenu collapse" style="height: 0px;">
			<li><a href="/Marketing/LectureSetting?menu=3" style='letter-spacing:5px;font-weight:bold'>&bull;建置講座</a></li>
			<li><a href="/Marketing/ClassTrial?menu=3" style='letter-spacing:2px;font-weight:bold'>&bull;講座/進班試聽</a></li>
			<li><a href="/Marketing/Promo?menu=3&promoType=lecture" style='letter-spacing:5px;font-weight:bold'>&bull;優惠活動</a></li>
	</ul>	

</li>
<!-------------------------------------------------->
<li>
	<a id='4' href="#designPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;設 計
			<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="designPage" class="nav nav-list secondmenu collapse" style="height: 0px;">
			<li><a href="/Marketing/ClassTrial?menu=4" style='letter-spacing:2px;font-weight:bold'>&bull;講座/進班試聽</a></li>
	</ul>	
</li>
<!-------------------------------------------------->		
<li>
	<a id='5' href="#salesPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;業 務
			<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="salesPage" class="nav nav-list secondmenu collapse" style="height: 0px;">
			<li><a href="/Sales/CurrentCourse?menu=5" style='letter-spacing:5px;font-weight:bold'>&bull;開班資訊</a></li>
			<li><a href="/Sales/Student?menu=5" style='letter-spacing:5px;font-weight:bold'>&bull;學生資訊</a></li>
			<li><a href="/Sales/salesInfo?menu=5" style='letter-spacing:5px;font-weight:bold'>&bull;個人資訊</a></li>
	</ul>
</li>
		
<!-------------------------------------------------->
<li>
	<a id='6' href="#admPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;行 政
		<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="admPage" class="nav nav-list secondmenu collapse" style="height:0px;">
		<li><a href="/Adm/BookDiagram?slot=1&menu=6" style='letter-spacing:5px;font-weight:bold'>&bull;點名&座位</a></li>
		<li><a href="/Adm/admCalendar?menu=6" style='letter-spacing:3px;font-weight:bold'>&bull;行政行事曆</a></li>
		<li><a href="/Adm/Email?menu=6" style='letter-spacing:5px;font-weight:bold'>&bull;訊息發佈</a></li>
		<li><a href="/Adm/VideoBase?menu=6" style='letter-spacing:5px;font-weight:bold'>&bull;設置</a></li>		
	</ul>
</li>
<!-------------------------------------------------->
<li>
	<a id='7' href="#teacherPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;老 師
		<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="teacherPage" class="nav nav-list secondmenu collapse" style="height:0px;">
		<li><a href="/Teacher/myCalendar?menu=7" style='letter-spacing:5px;font-weight:bold'>&bull;行事曆</a></li>
	</ul>
</li>			
<!-------------------------------------------------->	
<li>
	<a id='8' href="#otherPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;其 他
		<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="otherPage" class="nav nav-list secondmenu collapse" style="height:0px;">
		<li><a href="/Other/bookSetting?menu=8" style='letter-spacing:5px;font-weight:bold'>&bull;物品設置</a></li>
		<li><a href="/Other/bookSell?menu=8" style='letter-spacing:5px;font-weight:bold'>&bull;販售</a></li>
	</ul>
</li>

<!-------------------------------------------------->		
<li>
 	<a id='9' href="#managerPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;主 管
        <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
	</a>
	<ul id="managerPage" class="nav nav-list secondmenu collapse">
			<li><a href="/Manager/CourseApproveFlow?menu=9" style='letter-spacing:5px;font-weight:bold'>&bull;簽核</a></li>
			<li><a href="/Manager/orderChange?menu=9" style='letter-spacing:5px;font-weight:bold'>&bull;費用</a></li>
			<li><a href="/Manager/AccountLog?menu=9" style='letter-spacing:5px;font-weight:bold'>&bull;記錄</a></li>
	</ul>
</li>
<!-------------------------------------------------->
<li>
	<a id='10' href="#systemPage" class="nav-header collapsed" data-toggle="collapse" style='letter-spacing:8px'>&nbsp;系 統 
	    <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
	</a>
	<ul id="systemPage" class="nav nav-list secondmenu collapse">
			<li><a href="/System/AccountSearch?menu=10" style='letter-spacing:2px;font-weight:bold'>&bull;&nbsp;帳號管理</a></li>
			<li><a href="/System/SchoolSetting?menu=10" style='letter-spacing:2px;font-weight:bold'>&bull;&nbsp;基本設置</a></li>
			<li><a href="/System/scheduleLog?menu=10" style='letter-spacing:2px;font-weight:bold'>&bull;&nbsp;排程&記錄</a></li>
			<li><a href="/System/open/eipStructure?menu=10" style='letter-spacing:2px;font-weight:bold'>&bull;&nbsp;系統分析</a></li>
	</ul>
</li>

<!-------------------------------------------------->
</ul>