
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head  th:include="/common/top_header"></head>
<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTabs">
    <li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Manager/CourseApproveFlow">課程通知<span style='font-weight:normal;font-style:italic;color:#cccccc' th:text="${CourseApproveFlow_No}"></span></a></li>
    <li style='letter-spacing:2px;font-weight:bold' class=""><a href="/Manager/ComboSaleFlow">課務通知<span style='font-weight:normal;font-style:italic;color:#cccccc' th:text="${ComboSaleFlow_No}"></span></a></li>
    <li style='letter-spacing:2px;font-weight:bold' class=""><a href="/Manager/PromoFlow">優惠簽核<span style='font-weight:normal;font-style:italic;color:red' th:text="${PromoFlow_No}"></span></a></li>
    <li style='letter-spacing:2px;font-weight:bold' class=""><a href="/Manager/SpecialCase">特殊提報<span style='font-weight:normal;font-style:italic;color:#cccccc' th:text="${SpecialCase_No}"></span></a></li>
  </ul>
</div> 
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>	
<div align='left'>  
  <table id="myDataTalbe" class="display" style='width:1100px'>
	<thead>
		<tr style='letter-spacing:2px'>
			<th>Seq.</th>
			<th>分校</th>
			<th>類別</th>
			<th>期別</th>			
			<th style='width:200px'>科目</th>
			<th>班別</th>			
			<th>時段</th>
			<th>上課時間</th>
			<th>老師</th>
			<th>建立者</th>
			<th>更新時間</th>			
		</tr>
	</thead>
  </table>
</div>  	
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>


<script type="text/javascript">
function subjectData(category_id) {
	if (category_id) {
		$.ajax({
			url : "/Course/SubjectSearch",
			data : {
				category_id : category_id
			},
			dataType : "text",
			success : function(data) {
				$("#subject").html(data);
			}
		});
	} else {
		$("#subject").html("<option></option>");
	}
}
</script>

<script>
$(function() {
	$("#datepickerFrom").datepicker();
	$("#datepickerTo").datepicker();
});
</script>

<script type="text/javascript">
$(document).ready(function() {
	let table = $('#myDataTalbe').DataTable({
		//serverSide : true,
		"order": [ 1 , "desc" ],
		"searching" : false,
		"info" : false,
		"lengthChange" : false,
		ajax : {
			url : "/Course/getGradeList",
			data : function(d) {
				d.haveRead = "0";
			},		
			dataSrc : function(data) {
				return data;
			}
		},
		//deferLoading : 0, //初始化DataTable時，不發出ajax
		orderMulti : false,

		"columns" : [ 			
			{"data" : "grade_seq","className":"text-center",
				"render" : function(data, type, row, meta) {
					return "<span style='font-size:x-small'>"+data+"</span>";
				}			
			},
			{"data" : "school_name","className":"text-center"}, 
			{"data" : "category_name","className":"text-center"},
			{"data" : "class_start_date","className":"text-center",
				"render" : function(data, type, row, meta) {
					return data+"<br>"+row.video_date;
				}								
			},			
			{"data" : "subject_name",
			     "render" : function(data, type, row, meta) {
				       return "<A style='color:blue;text-decoration:underline' href='javascript:void(0)' onclick='openGrade("+row.grade_seq+");'>"+data+"</A>";
			     }				
			},
		    {"data" : "gradeName","className":"text-center"},			
			{"data" : "slot_name","className":"text-center"},
			{"data" : "timeFrom","className":"text-center",
				"render" : function(data, type, row, meta) {
						return data+"~"+row.timeTo;
				}					
			},
			{"data" : "teacher_name","className":"text-center"},	
		    {"data" : "creater","className":"text-center",
				"render" : function(data, type, row, meta) {
					return "<span style='font-size:x-small'>"+data+"</span>";
				}			
		    },
		    {"data" : "update_time","className":"text-center",
				"render" : function(data, type, row, meta) {
					return "<span style='font-size:x-small'>"+data+"</span>";
				}			
		    }
		]
	});
	$("#btnQuery").click(function() {
		//按下表單的查詢按鈕後才發出Ajax載入資料 
		table.ajax.reload();
	});
});

	function openGrade(data) {
 		var feature = "top=10,left=350,width=1000,height=700";
 	    window.open("/Course/newCourse?haveRead=1&action=popView&grade_seq="+data, "", feature);
 	}

	$("#titleWidth").width(200+$("#myDataTalbe").width()<1400?1400:200+$("#myDataTalbe").width());
</script>


