<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header_noMenu"></head>					
<body style='background-color:#ffffff'>
<div>&nbsp;</div>


<div class="container-fluid" th:if="${student_seq!='' and student_seq!=null}">
	<ul class="nav nav-tabs" id="myTabs">
		<li style='letter-spacing:2px;font-weight:bold'  class="active"><A th:href="@{/Sales/ClassBook(student_seq=${student_seq},Register_seq=${Register_seq},mockDetail_seq=${mockDetail_seq},school_code=${school_code})}">預約時段</A><li>
		<li style='letter-spacing:2px;font-weight:bold'><A th:href="@{/Sales/StudentCalendar(mock=1,student_seq=${student_seq},Register_seq=${Register_seq},mockDetail_seq=${mockDetail_seq},school_code=${school_code})}">學員行事曆</A><li>	
	</ul>		
</div> 
	<div style='width:600px;padding:5px;display:inline-block;border-radius:10px'>
		<div style='padding-left:20px;font-size:small;letter-spacing:1px'>
			 1. 若預約該期別Video課程, 須俟待該實體課成完畢後間隔一天, 才可進行預定
		</div>
		<div style='padding-left:20px;font-size:small;letter-spacing:1px'>
			 2. 預約或取消Video或實體課程, 須在前一日PM 12:00 以前才可進行預約或取消
		</div>		
	</div>	
<input type='hidden' id='curDate' th:value="${curDate}">

<div style='margin-top:30px;font-size:medium;margin-left:10px;letter-spacing:1px;font-weight:bold'>&nbsp;Step1. 選 擇 課 程</div>
	<form id='form1' th:action="@{/Sales/ClassBookSave}" method="post">
	    <input type='hidden' id='student_seq' name='student_seq' th:value="${student_seq}">	
	    <input type='hidden' name='makeUpNo' th:value="${makeUpNo}">
	    <input type='hidden' name='remark' th:value="${remark}">
	    <input type='hidden' name='Register_comboSale_grade_id' th:value="${Register_comboSale_grade_id}">
		<input type='hidden' id='attend_date' name='attend_date'>
		<input type='hidden' name='signRecordHistory_seq' th:value="${signRecordHistory_seq}">
		<input type='hidden' name='class_th' th:value="${class_th}">
		<input type='hidden' name='slot' id='slot'>
		<input type='hidden' name='comment' id='comment'>
		<div align='left' style='margin-left:50px'>
		  <div class="css-table" style="color:white;border-spacing:10px;font-size:small;font-weight:bold;border:1px #eeeeee solid;background-color:#3e7e99;margin-top:20px;padding:5px">
			<div class="tr">			
				<div class="td" style='text-align:center'>
					&nbsp;上 課 分 校<br>
					<select name='school_code' id='school_code' class='form-control'  onchange="getVideoBase()">
						<option value=""></option>
						<option th:selected="${school_code eq item.code}" th:each="item : ${LSchool}" th:value="${item.code}" th:utext="${item.name}" />
					</select>				 	
				</div>			
				<div class="td" style='text-align:center'>
					&nbsp;科 目<br>
					<select id='subject_id' name='subject_id' class='form-control' style=''>
						<option value=""></option>
						<option th:selected="${subject_id eq item.subject_seq}" th:each="item : ${LSubject}" th:value="${item.subject_seq}" th:utext="${item.name}" />
					</select>
				</div>
				<div class="td" style='text-align:center'>
				 	&nbsp;方 式<br>
				 	<select id='class_style' name='class_style' class='form-control' style='' onchange='classType()'>
				 		<option value=""></option>
				 		<option value="1" th:selected="${class_style eq '1'}">正班</option>
				 		<option value="2" th:selected="${class_style eq '2'}">Video</option>
				 		<option value="3" th:selected="${class_style eq '3'}">線上</option>
				 	</select>
				</div>				
				<div class="td" style='text-align:center'>
					&nbsp;期 別 - 老師<br>
					<select id='grade_id' name='grade_id' class='form-control' style='width:200px' onchange="gradeSel()">
						<option value=""></option>
						<option th:selected="${grade_id eq item.grade_seq}" th:each="item:${LGrade}" th:value="${item.grade_seq}" th:utext="${item.class_start_date+' - '+item.teacher_name+'老師'}" />
					</select>							
				</div>
				<div class="td" id='grade_classesArea' style='width:180px;text-align:center'>
				    &nbsp;課 堂 - 日期<br>
					<select id="grade_classesSel" name='grade_classesSel' class="form-control" style=''>
						<option></option>
					</select>		
				</div>	
				<div class="td" id='class_thArea' style='text-align:center'>
				    &nbsp;課 堂<br>
					<input id='class_th_ex' name='class_th_ex' type='text' th:value="${class_th}" style='width:50px' class='form-control'>		
				</div>					
				<div class="td" id='buttonArea' style='text-align:center;vertical-align:bottom'>
					<button type="button" id='SendSave' class="btn  btn-danger" style='font-weight:bold' onclick='BookClass()'>儲 存</button>&nbsp;&nbsp;				
				</div>												
			</div>
		</div> 	
		</div>
	</form>		
<div id='step2'>
<div style='margin-top:60px;margin-left:10px;font-size:medium;letter-spacing:1px;font-weight:bold'>&nbsp;Step2. 點 選 行 事 曆 </div>
<!----------------------Calendar--------------------->				
<div align='left' style='margin-top:20px;margin-left:50px'><div id="calendar" style="padding:1px;color:gray;width:900px;border-radius:10px;border-color:#eeeeee;background-color:white"></div></div>
<!--------------------------------------------------->

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>


&nbsp;<p>
	
&nbsp;<p>



<script th:inline="javascript" type="text/javascript">
 function classType() {
	 //1:面授,2:Video
	if($("#class_style").val()=="1"){
		$("#step2").hide();
		$("#slotArea").hide();
		$("#buttonArea").show();
		$("#grade_classesArea").show();
		$("#class_thArea").hide();
	}else if($("#class_style").val()=="2"){
		$("#step2").show();
		$("#slotArea").show();
		$("#buttonArea").hide();
		$("#grade_classesArea").hide();
		$("#class_thArea").show();
	}else if($("#class_style").val()=="3"){
		$("#step2").hide();
		$("#slotArea").hide();
		$("#buttonArea").show();
		$("#grade_classesArea").show();
		$("#class_thArea").hide();
	}
 }

	$(document).ready(
		function(){
			classType();
			getVideoBase(); 
			gradeSel();
		}	
	)
	
	function getVideoBase(){
		$(document).ajaxStart(function(){
			$('#message').html("<img src='/images/wait.gif' style='width:25px'/> 讀 取 中 ...");
		});
		
		$(document).ajaxStop(function(){
			$('#message').text("");
		});	
		
			 $.ajax({
				url : "/Adm/getVideoBase",
				data : {
					school_code : $("#school_code").val(),
					student_seq : [[${student_seq}]]
				},
				dataType : "text",
				success : function(data) {
					$("#calendar").html(data.split("@")[0]);
				}
			 });
	}
 
 function BookClass(date,slot){
	 $("#slot").val(slot);
	 var slotName="";
	 var slotName="";
	 if(slot==1){
		 slotName="(早)";
	 }else if(slot==2){
		 slotName="(午)";
	 }else if(slot==3){
		 slotName="(晚)";
	 } 
	 //video預約
     if($("#class_style").val()=="2" || $("#class_style").val()=="3"){
			if($("#slot").val()==-1){				
				 alert("請選擇時段!");
				 return;
			}else{
              
				if(date<$("#curDate").val()){
					alert("請預約今日以後日期!");
					return;
				}
				if(existVideo(date)!='1' && $("#class_style").val()=="2"){
					alert("此日期尚未產生Video課程!");
					return;
				}				

			   if(confirm('課程預約時間 :  '+ date+slotName)){
				   var comment = prompt("請輸入學員備註","");				  
				   $("#attend_date").val(date);
				   $("#comment").val(comment+'<br>');	
			   }else{
				   return;
			   }	  
			}
	 //正班預約
     }else{
		 
	 }	
	 
     var url = $("#form1").attr('action');

     $.ajax({
	       type: "POST",
	       url: url,
	       data: $("#form1").serialize(),
			success : function(data) {
				if(confirm("預定成功! 關閉並重新整理視窗!")){
					window.close();
					self.opener.location.reload();
				}
			},
	        error:function(){
	        	alert("預定失敗!");
	        }
     });
	 e.preventDefault();
 }
 
	function gradeSel() {
		var grade_id = 	$("#grade_id").val();
		if (grade_id) {
			$.ajax({
				url : "/Course/getClassesOption",
				data : {
					grade_id : grade_id		
				},
				dataType : "text",
				success : function(data) {
					$("#grade_classesSel").html(data);
				}
			});
		} else {
			$("#grade_classesSel").html("<option></option>");
		}
	}
	
	function existVideo(date){
		//Video課程才需判斷
		var result
		if($("#class_style").val()==2){
		 	$.ajax({
		 		async: false,
				url : "/Course/existVideo",
				data : {
					grade_id : $("#grade_id").val(),
					class_th_ex : $("#class_th_ex").val(),
					assginDate : date
				},
				dataType : "text",
				success : function(existVideo) {
					result = existVideo;
				}
			});	 
		}
		return result;
	}

 </script>