<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>

<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTabs">
    <li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Sales/salesInfo">個人業績</a></li>
    <li style='letter-spacing:2px;font-weight:bold'><a href="">1日約訪</a></li>
    <li style='letter-spacing:2px;font-weight:bold'><a href="">60日初訪</a></li>
    <li style='letter-spacing:2px;font-weight:bold'><a href="">持有名單</a></li>
  </ul>
</div>

&nbsp;<p>

