
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>

	<div class="container-fluid">
		<ul class="nav nav-tabs" id="myTabs">
			<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Other/bookSetting">物品設置</a></li>
		</ul>
	</div>
	<div class="css-table" style="border-spacing:3px">
		<div class="tr">
		    &#10074;<div class="td" style=""><A href="/Other/bookSetting">書籍</A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style=""><A href="/Other/otherLagnappe">其他贈品</A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style="background-color:#eeeeee"><A href="/Other/dmSetting">DM</A></div><div class="td" style="width:20px"></div>
		</div>
	</div>
&nbsp;<p>
<p>


