
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>

	<div class="container-fluid">
		<ul class="nav nav-tabs" id="myTabs">
			<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Adm/bookSetting">物品建置</a></li>
		</ul>
	</div>
	<div class="css-table" style="border-spacing:3px">
		<div class="tr">
		    &#10074;<div class="td" style=""><A href="/Other/bookSetting">書籍</A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style=""><A href="/Other/dmSetting">DM</A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style="background-color:greenyellow"><A href="/Other/reviewStampSetting">複習章</A></div><div class="td" style="width:20px"></div>
		</div>
	</div>
&nbsp;<p>
<p>
  <div style='border:1px #eeeeee solid;width:300px;padding:10px;border-radius:5px;margin-top:20px'>  
	<div class="css-table">			
		<div class="tr" style='font-size:small'>
			<div class="td2" style='padding:5px'>
					類別<br> 
					<select id="school" class="form-control" style='width:100px'>
						<option></option>
						<option th:each="item : ${schoolGroup}" th:value="${item.code}" th:utext="${item.name}" />
					</select>				
			</div>			
		</div>
	</div>						
  </div>
	<div align='center' style='width:300px'>
		<button type="button" id="btnQuery"class="btn btn-sm btn-primary">查詢</button>&nbsp;&nbsp;
		<button type="button" class="btn btn-sm btn-success" onclick="location.href='/Marketing/LectureEdit'">新增書籍 </button>
	</div>


&nbsp;<p>
		<div style='width:800px'>
		  <table id="myDataTalbe" class="display">
			<thead>
				<tr>
					<th>類別</th>
					<th>名稱</th>
					<th>定價</th>
					<th>售價</th>
					<th>ISBN</th>
					<th>出版</th>				
				</tr>
			</thead>
		  </table>
	   </div>	
&nbsp;<p>
&nbsp;<p>
&nbsp;<p>
&nbsp;<p>
<script type="text/javascript">
	$(document).ready(function() {
		let table = $('#myDataTalbe').DataTable({
			//serverSide : true,
			"searching" : false,
			"info" : false,
			"lengthChange" : false,
			ajax : {
				url : "/Other/getBooks",
				data : function(d) {
					//d.name    = $("input[name=name]").val();

				},

				dataSrc : function(data) {
					return data;
				}
			},
			//deferLoading : 0, //初始化DataTable時，不發出ajax
			orderMulti : false,

			"columns" : [ 
				{"data" : "cat1"}, 					
				{"data" : "bookName"},
				{"data" : "originPrice"},
				{"data" : "sellPrice"},
				{"data" : "isbn"},
			    {"data" : "publisher"}	
			 ]
		});
		$("#btnQuery").click(function() {
			//按下表單的查詢按鈕後才發出Ajax載入資料 
			table.ajax.reload();
		});
	});
</script>

