
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head  th:include="/common/top_header_noMenu"></head>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div align='center'>
<form id='form1' action="#" th:action="@{/Course/Add_JLSave}"  method="post">
  <div style='font-weight:bold'>上課方式: 0:未訂 1:面授 2:Video</div>
  <div style='font-weight:bold'>分校: P(TPXC),K(KSZS),C(TCFX),L(TPSL)</div>   		
		<div style='padding:2px;border:1px #dddddd solid;width:500px'>
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' value='1' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px;background-color:#eeeeee' readonly>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' th:value="${schoolAbbr}" style='background-color:#eeeeee;height:35px;border-radius:5px;border:1px #dddddd solid;width:50px' readonly></div>					
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>										
		     <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>							
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>								
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>					
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>										
		     <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>							
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>								
			 <div style='padding:2px'>正龍代碼&nbsp;&nbsp;<input type="text" name='JL_gradeId' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:140px'>&nbsp;&nbsp;方式<input type="text" name='class_style' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'>&nbsp;&nbsp;分校<input type="text" name='schoolAbbr' style='height:35px;border-radius:5px;border:1px #dddddd solid;width:50px'></div>			 
			 <div style='padding:2px'>EIP代碼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" readonly name='eip_grade_seq' th:value="${eip_grade_seq}" style='background-color:#eeeeee;height:35px;border-radius:5px;border:1px #eeeeee solid;width:140px'></div>
			 <div style='padding:2px'>subject_id&nbsp;&nbsp;&nbsp;<input type="text" readonly name='subject_id' th:value="${subject_id}" style='background-color:#eeeeee;height:35px;border-radius:5px;border:1px #eeeeee solid;width:140px'></div>
		</div>
		
  </div>
  <div style='' align='center'>
		<button type="button" id="btnSave" class="btn btn-sm btn-primary">儲 存</button>&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-sm btn-info" onclick="reset()" style='background-color:#bbbbbb'>重設</button>
  </div>  
</form> 
		
</div> 
<div>&nbsp;</div>
<div>&nbsp;</div>

											
<script>
$("#btnSave").click(function() {
		$("#form1").submit();	
});
</script>

