 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>
<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTabs">
	<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Course/CourseSetting">課程設置</a></li>
	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/SubjectSetting">科目</a></li>
   	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/Teacher">老師</a></li>
   	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/TeacherSetting3">課表</a></li>
	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/MockSetting">模考</a></li>
	<li style='letter-spacing:2px;font-weight:bold'><a href="/CourseSale/CounselingCost">充電站</a></li>
	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/BillBoard">國定假日</a></li>     
  </ul>
</div>
<form>
<div class="css-table">
<div class="tr">
 <div class="td">
  <div style='border:1px #eeeeee solid;width:630px;padding:10px;border-radius:5px;margin-top:20px'>  
	<div class="css-table">			
		<div class="tr" style='font-size:small'>
			<div class="td2" style='padding:5px'>
					分校<br> 
					<select id="school" class="form-control" style='width:120px'>
						<option></option>
						<option th:each="item : ${schoolGroup}" th:value="${item.code}" th:utext="${item.name}" th:selected="${school_code == item.code}" />
					</select>				
			</div>
			<div class="td2" style='padding:5px;width:120px'>
					類別<br> 
					<select id="category" class="form-control" onchange="subjectData()">
						<option value=''></option>
						<option th:each="item : ${categoryGroup}" th:value="${item.category_seq}" th:utext="${item.name}" th:selected="${category_id == item.category_seq}" />
					</select>				
			</div>
			<div class="td2" style='padding:5px;width:220px'>
					科目<br> 
					<select id="subject" class="form-control">
						<option value=''></option>
					</select>			
			</div>
		</div>
	</div>		
	<div class="css-table">			
		<div class="tr" style='font-size:small'>
			<div class="td2" style='padding:5px'>
					狀態<br> 
					<select id="FlowStatus" class="form-control" style='width:150px'>
						<option></option>
						<option th:each="item : ${flowStatusGroup}" th:value="${item.code}" th:utext="${item.name}" th:selected="${status_code == item.code}" />
					</select>
			</div>						
			<div class="td2" style='padding:5px'>
					期別<br>
					<input type="text" class="form-control" id="class_start_date_0" style='width:100px' placeholder='ex.190106'/>
			</div>
			<div class="td2" style='padding:5px'>
					期別別名<br>
					<input type="text" class="form-control" id="video_date" style='width:100px' placeholder='ex.0001A'/>
			</div>			
			<div class="td2" style='padding:5px'>
					老師<br> 
					<select id="teacher" class="form-control" style='width:130px'>
							<option></option>
							<option th:each="item : ${teacherGroup}" th:value="${item.teacher_seq}" th:utext="${item.name}" th:selected="${teacher_id == item.teacher_seq}" />
					</select>
			</div>
			<div class="td2" style='padding:5px'>
					Video下架<A href="#" class="tooltip-test" data-toggle="tooltip" title="<span style='padding:2px;letter-spacing:2px;background-color:#ff66b2;color:white'>&#10149; 預設系統會將Video課程在2年後自動下架成為[Video下架]狀態, 若無需系統下架,則為[永不]"><img src='/images/message.png' height='8px'/></A>
					<select  id='videoPreserve' class="form-control title" style='width:80px'>
						<option value="0">正常</option>
						<option value="1">永不</option>										
					</select>
			</div>			
<!--  		
			<div class="td2" style='padding:5px'>
					開課期間<br>
					<input type="text" style='width:100px' class="form-control" id="datepickerFrom" placeholder="from" />
			</div>		
			<div class="td2" style='padding:5px'>		
					&nbsp;<br>
					~
			</div>
			<div class="td2" style='padding:5px'>		
					&nbsp;<br>
					<input type="text" style='width:100px' class="form-control" id="datepickerTo" placeholder="to" />
			</div>
-->																		
		</div>			
	</div>
  </div>
 </div>
	 <div class="td" style='width:20px'>&nbsp;</div>
	 <div class="td" style='vertical-align:bottom'> 
	      <div style='margin-left:100px;font-size:small'>   
	 	    <img src='/images/gradeSetting.jpg' style='width:300px'/> 	    
	 	   </div>   	     
	 </div>   
</div>
</div> 									
								
		<div  align='center' style='width:600px;'>
			<button type="button" id="btnQuery" class="btn btn-sm btn-primary">查詢</button>&nbsp;&nbsp; 
			<button type="button" class="btn btn-sm btn-info" onclick="reset()" style='background-color:#bbbbbb'>重設</button>&nbsp;&nbsp;
			<span sec:authorize="hasAnyRole('ROLE_cou_mgr','ROLE_cou')"><button type="button" class="btn btn-sm btn-success" onclick="courseEdit('')">&#8883;新增期別</button></span>
		</div>
</form>				
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<!--DataTables的表格-->
<div style='width:1200px'>
<table id="myDataTalbe" class="display">
	<thead>
		<tr style='letter-spacing:2px'>
			<th style='width:30px'>Seq.</th>
			<th style='width:70px'>狀態</th>
			<th style='width:70px'>分校</th>
			<th style='width:40px'>類別</th>
			<th style='width:60px'>期別</th>
			<th style='width:250px'>科目</th>
			<th>班別</th>
			<th>時段</th>
			<th>上課時間</th>		
			<th>老師</th>			
			<th style='width:70px'>建立</th>
			<!--  
			<th style='width:60px'>複製<A href="#" class="tooltip-test" data-toggle="tooltip" title="<span style='padding:2px;letter-spacing:2px;background-color:#ff66b2;color:white'>&#10149; 以此期別內容為範本進行複製, 新增新的期別, 並再次進入審核流程 ! </span>"><img src='/images/message.png' height='8px'/></A></th>
		-->
		</tr>
	</thead>
</table>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>


<script type="text/javascript" th:inline="javascript">
	function subjectData(firstload) {
		var category_id = $("#category").val();
			$.ajax({
				url : "/Course/SubjectSearch",
				data : {
					category_id : category_id
				},
				dataType : "text",
				success : function(data) {
					$("#subject").html(data);
					if(firstload==1){
						$('#myDataTalbe').DataTable().destroy();
						showData();
					}	
				}
			});
	}

	$(function() {
		$("#datepickerFrom").datepicker();
		$("#datepickerTo").datepicker();
	});


$(document).ready(function() {		
	    subjectData('1');   
});

function showData(){
	var disableName;
	if(![[${sessionState}]]){
		$('myDataTalbe').DataTable().state.clear();
		window.location.replace(window.location.href+((window.location.search)?"&":"?")+"sessionState=keep")
	}	
	
	let table = $('#myDataTalbe').DataTable({	
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",        
		"stateSave" : true,
		"stateDuration" :-1,
		"iDisplayLength": 15,
		"order": [ 0, "desc" ],
		"searching" : false,
		"info" : false,
		"lengthChange" : false,
		ajax : {
			url : "/Course/getGradeList",
			data : function(d) {
				d.category_id  = $("#category").val();
				d.status_code  = $("#FlowStatus").val();
				d.school_code  = $("#school").val();
				d.subject_id   = $("#subject").val();
				d.teacher_id   = $("#teacher").val();
				d.class_start_date_0  = $("#class_start_date_0").val();
				d.video_date  = $("#video_date").val();
				d.videoPreserve = $("#videoPreserve").val();
			},											
			dataSrc : function(data) {           
				return data;
			}
		},
		"language": {loadingRecords: "<img src='/images/wait2.gif' style='width:27px'/> <span style='font-size:small'>讀 取 中 </span>"},	
		//deferLoading : 0, //初始化DataTable時，不發出ajax
		orderMulti : false,

		"columns" : [ 
		    {"data" : "grade_seq",
			       "className" : "text-center",
				   "render" : function(data, type, row, meta) {
					   if(row.disable=='2'){
						   disableName='{勿訂}\n';
					   }else{
						   disableName='';
					   }
				       if(row.status_code==4 || row.status_code==5){	
			 				return disableName+"<a href='javascript:void(0)'  onclick='courseEdit("+data+")' style='font-size:small;color:blue;text-decoration:underline'>"+data+"</A>";
					   }else{
				           /*[# sec:authorize="hasAnyRole('ROLE_cou','ROLE_cou_mgr')"]*/ 
			                return disableName+"<a href='javascript:void(0)'  onclick='courseEdit("+data+")' style='font-size:small;color:blue;text-decoration:underline'>"+data+"</A>";
			               /*[/]*/ 
			                return "-";
					   }
				    }
			},				
			{"data" : "status_name","className":"text-center",
				"render" : function(data, type, row, meta) {
					if(row.status_code=='3'){
						return "&nbsp;&nbsp;<img src='/images/wait.gif' height='18px'/>"+data;
					}else{
						return data;
					}	
				}						
			},
			{"data" : "school_name"}, 
			{"data" : "category_name","className":"text-center"}, 
			{"data" : "class_start_date",
				"render" : function(data, type, row, meta) {
					if(row.video_date){
						return data+"<br>("+row.video_date+")";
					}else{
						return data;
					}	
				}				
			},				
			{"data" : "subject_name",
				"render" : function(data, type, row, meta) {
					if(row.class_style=='1'){
						//return data+"<br>"+"(班內)";
						return data+" <span style='font-size:xx-small;color:#888888'>("+row.subjectContent_name+")</span>"+"<br><span style='color:#999999;font-size:x-small'>"+row.subject_abbr+"</span>";
					}else if(row.class_style=='3'){
						return data+"<span style='font-size:xx-small;color:#888888'>("+row.subjectContent_name+")</span><span style='font-size:x-small;color:#999999'>&nbsp;(線上)</span><br><span style='color:#7777777;font-size:x-small'>"+row.subject_abbr+"</span>";
					}	
				}					
			},
			{"data" : "gradeName","className":"text-center"},	
			{"data" : "slot_name","className":"text-center"},
			{"data" : "timeFrom","className":"text-center",
					"render" : function(data, type, row, meta) {
						return data+"~"+row.timeTo;
					}					
			},
			{"data" : "teacher_name","className":"text-center"},
		    {"data" : "creater","className":"text-center",
				"render" : function(data, type, row, meta) {
					return "<span style='font-size:xx-small'>"+data+"</span><br><span style='font-size:xx-small'>"+row.update_time+"</span>";
				}			    	
		    }
		   // {"data" : "grade_seq",
		   //     "className" : "text-center",
			//	"render" : function(data, type, row, meta) {
			//		if(row.status_code==3 || row.status_code==4 || row.status_code==5){
				       /*[# sec:authorize="hasAnyRole('ROLE_cou','ROLE_cou_mgr')"]*/ 
		   //             return "<A href='/Course/newCourse?action=copy&grade_seq="+data+"'>&rarrw;</A>";
		               /*[/]*/ 
		   //             return "-";
			//		}else{
			//			return "-";
			//		}	
			//	}			    	
		   // }
		]				
	});
	$("#btnQuery").click(function() {
		table.ajax.reload();
	});	
	
	$("#titleWidth").width(200+$("#myDataTalbe").width()<1400?1400:200+$("#myDataTalbe").width());
}
	
 	function openGrade(data) {
 		var feature = "width=700,height=500";
 	    window.open("/CourseSale/ComboSaleContentDetail?comboSale_seq="+data,"",feature);
 	}
 	
	function courseEdit(grade_seq){
 		var feature = "top=0,left=350,width=1120,height=700";
 	    window.open("/Course/newCourse?action=edit&grade_seq="+grade_seq, "", feature);
 	} 
	
	
</script>