
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head  th:include="/common/top_header"></head>
<div class="container-fluid">
	<ul class="nav nav-tabs" id="myTabs">
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/CourseSetting">課程設置</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/SubjectSetting">科目</a></li>
    	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/Teacher">老師</a></li>
    	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/TeacherSetting3">課表</a></li>
		<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Course/MockSetting">模考</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/CourseSale/CounselingCost">充電站</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/BillBoard">國定假日</a></li>    	
	</ul>
</div>
<div class="css-table" style="border-spacing:3px">
	<div class="tr">
		    &#10074;<div class="td" style="background-color:#eeeeee"><A href='/Course/MockSetting'>銷售</A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style=""><A href='/Course/testSubjectSetting'>考科</A></div><div class="td" style="width:20px"></div>  	    
	</div>
</div>

  <div style='border:1px #eeeeee solid;padding:10px;border-radius:5px;margin-top:20px;width:400px'>

	<div class="css-table">			
		<div class="tr" style='font-size:small'>
			<div class="td2" style='padding:5px;width:120px'>
					類別<br> 
					<select id="category_id" name="category_id" class="form-control">
						<option></option>
						<option th:each="item : ${LCategory}" th:value="${item.category_seq}" th:utext="${item.name}" />
					</select>										
			</div>
			<div class="td2" style='width:20px'></div>
			<div class="td2" style='padding:5px;width:120px'>
					狀態<br> 
					<select id="active" name="active" class="form-control">
						<option value='1'>啟用</option>
						<option value='0'>停用</option>
						<option value=''></option>
					</select>										
			</div>			
		</div>
	</div>	
	
 </div>
 <div style='width:400px' align='center'>
		<button type="button" id="btnQuery"class="btn btn-sm btn-primary">查詢</button>&nbsp;&nbsp;
		<button type="button" class="btn btn-sm btn-success" onclick="location.href='javascript:MockEdit()'">&#8883;新增模考</button>
 </div>


<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
	<!--DataTables的表格-->
	<div style='width:700px'>
	<table id="myDataTalbe" class="display">
		<thead>
		<tr>
			<th width="50px">Seq</th>
			<th width="50px">狀態</th>
			<th width="150px">類別</th>
			<th width="400px">模考名稱</th>
			<th width="100px">細項</th>					
		</tr>
		</thead>
	</table>
	</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<script type="text/javascript">
	$(document).ready(function() {
		let table = $('#myDataTalbe').DataTable({
			//serverSide : true,
			"iDisplayLength": 20,
			"order": [ 0, "desc" ],
			"searching" : false,
			"info" : false,
			"lengthChange" : false,
			ajax : {
				url : "/Course/getMockSetting",
				data : function(d) {
					d.category_id  = $("#category_id").val();
					d.active  = $("#active").val();
				},

				dataSrc : function(data) {
					return data;
				}
			},
			//deferLoading : 0, //初始化DataTable時，不發出ajax
			orderMulti : false,

			"columns" : [ 
				{"data" : "mock_seq","className":"text-center"},
				{"data" : "active","className":"text-center",
				     "render" : function(data, type, row, meta) {
				    	   if(data==1){
				    		   return "啟用"
				    	   }else if(data==0){
				    		   return "停用"
			    	       }
		             }					
				}, 
				{"data" : "category_name"}, 
				{"data" : "mock_name"},
				{"data" : "mock_seq","className":"text-center",
				     "render" : function(data, type, row, meta) {
			               return "<A href='javascript:void(0)' onclick='MockEdit("+data+")' style='font-size:large;text-decoration:underline;color:blue'>&hellip;</A>";
		             }					
				}				
			 ]
		});
		$("#btnQuery").click(function() {
			table.ajax.reload();
		});
	});
	
	function MockEdit(mock_seq){
		if(!mock_seq){mock_seq='';}
		var feature = "width=950,height=600,left=250,top=20";
		   	window.open("/Course/MockEdit?mock_seq="+mock_seq,"",feature);		
	}
	
	
	$("#titleWidth").width(200+$("#myDataTalbe").width()<1400?1400:200+$("#myDataTalbe").width());
</script>


