
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head  th:include="/common/top_header_noMenu"></head>


<div>&nbsp;</div>
<div>&nbsp;</div>
<div align='center'>
	<div class="css-table" style='border-spacing:0px'>
		<div class='tr' style='font-weight:bold'>
			<div class='td2'  style='width:100px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>更新者</div>
			<div class='td2'  style='width:100px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>更新時間</div>			
			<div class='td2'  style='width:80px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>類別</div>
			<div class='td2'  style='width:200px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>名稱</div>
			<div class='td2'  style='width:80px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>代碼</div>
			<div class='td2'  style='width:100px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>原價</div>
			<div class='td2'  style='width:100px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>內容等級</div>
			<div class='td2'  style='width:80px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>可上次數</div>
			<div class='td2'  style='width:80px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>正班補課</div>
			<div class='td2'  style='width:80px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>自由選</div>
			<div class='td2'  style='width:80px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>狀態</div>
			<div class='td2'  style='width:200px;border:1px #aaaaaa solid;text-align:center;background-color:#ffefff'>備註</div>		
		</div>
	</div>
	<div class="css-table" style="" th:utext="${SubjectStr}"></div>
</div>	
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
  
<script type="text/javascript" th:inline="javascript">
</script>


