
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>
<div th:if="${page!='mkt'}">
	<ul class="nav nav-tabs" id="myTabs">
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/CourseSetting">課程設置</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/SubjectSetting">科目</a></li>
    	<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Course/Teacher">老師</a></li>
    	<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/TeacherSetting3">課表</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/MockSetting">模考</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/CourseSale/CounselingCost">充電站</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Course/BillBoard">國定假日</a></li>    	
	</ul>
	
	<div>&nbsp;</div>
	<div class="css-table" style="border-spacing:3px">
		<div class="tr">
		    <div class="td" style='color:white;background-color:#F433FF;font-weight:bold;padding:3px' th:text="${session.teacher_name}"></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style=""><A href='/Course/TeacherProfile'> 基本資料 </A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style="background-color:#eeeeee"><A href='/Course/TeacherSetting2'> 個人課表 </A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style=""><A href='/Course/Discontinued'> 課程停售 </A></div><div class="td" style="width:20px"></div>
		</div>
	</div>
</div>

<div th:if="${page=='mkt'}">
	<div class="container-fluid">
		<ul class="nav nav-tabs" id="myTabs">
			<li style='letter-spacing:2px;font-weight:bold'><a href="/Marketing/LectureSetting">建置講座</a></li>
			<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Course/TeacherSetting2?page=mkt">老師課表</a></li>
		</ul>
	</div>	
</div>	
<div>&nbsp;</div>
 
<div class="td" id='message' align='center' style='margin-left:10px'></div>   
<div class="css-table" style='background-color:#ffffff;margin-left:100px;margin-top:15px;margin-bottom:5px'>
	<div class="tr">
		<div class="td"><button onclick="CalendarButton('left')" type="button" class="btn btn-secondary" style='font-size:large;padding:2px;background-color:#ffeeff;border:1px #dddddd solid;color:steelblue'>&nbsp;&#10094;&nbsp;</button></div>
        <div class="td" style='width:200px;text-align:center;font-weight:bold;vertical-align:middle;color:steelblue;font-size:small'>
        	<span id='beginYear' th:text='${beginYear}'></span>年<span id='beginMonth' th:text="${beginMonth}"></span>月&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;
        	<span id='endYear' th:text='${endYear}'></span>年<span id='endMonth' th:text="${endMonth}"></span>月
        </div>
        <div class="td"><button onclick="CalendarButton('right')" type="button" class="btn btn-secondary" style='font-size:large;padding:2px;background-color:#ffeeff;border:1px #dddddd solid;color:steelblue'>&nbsp;&#10095;&nbsp;</button></div>
		<div class="td" style='width:200px'></div>
		<div class="td" style=''>
				<select id="school" onchange='CalendarYear()' style='width:120px;border-radius:5px'>
					<option value=''>&nbsp;~ 分 校 ~</option>
					<option th:each="item : ${schoolGroup}" th:value="${item.code}" th:utext="${item.name}" />
				</select>				
		</div>
		<div class="td" style='width:20px'></div>
		<div class="td" style=''>
				<select id="category" onchange='CalendarYear()' style='width:120px;border-radius:5px'>
					<option value=''>&nbsp;~ 類 別 ~</option>
					<option th:each="item : ${categoryGroup}" th:value="${item.category_seq}" th:utext="${item.name}" />
				</select>				
		</div>	
		<div class="td" style='width:20px'></div>
		<div class="td" style=''>
				<select id="teacher" onchange='CalendarYear()' style='width:120px;border-radius:5px;color:white;background-color:deepskyblue'>					
					<option th:selected="${item.teacher_seq==teacher_id_hidden}" th:each="item : ${teacherGroup}" th:value="${item.teacher_seq}" th:utext="${item.name}" />
					<option value=''>~ All ~</option>
				</select>				
		</div>					
	</div>
</div>

<div id='myDataTalbe' style='width:1360px'>
  <div style='padding-right:30px; overflow-x:scroll;width:1330px;border-left:2px pink dotted;border-right:2px pink dotted;'>
	  <div class="tr" style='text-align:center;font-size:small;font-weight:bold;letter-spacing:10px'> 
		<div class="td" style='width:455px;background-color:#FFFFCC;border:1px #cccccc solid;border-radius:0px'>星期一</div>
		<div class="td" style='width:455px;background-color:#ffeeff;border:1px #cccccc solid;border-radius:0px'>星期二</div>
		<div class="td" style='width:455px;background-color:#eeeeee;border:1px #cccccc solid;border-radius:0px'>星期三</div>
		<div class="td" style='width:455px;background-color:#FFFFCC;border:1px #cccccc solid;border-radius:0px'>星期四</div>
		<div class="td" style='width:455px;background-color:#ffeeff;border:1px #cccccc solid;border-radius:0px'>星期五</div>
		<div class="td" style='width:455px;background-color:#eeeeee;border:1px #cccccc solid;border-radius:0px'>星期六</div>
		<div class="td" style='width:455px;background-color:#FFFFCC;border:1px #cccccc solid;border-radius:0px'>星期日</div>
	  </div>
	  <div class="tr"  style='text-align:center;font-size:small'>
		<div class="td" style=''>
		   <div class="css-table" style='width:455px;background-color:#FFFFCC'>
			   <div class="tr">
					<div class="td" style='width:35px;border:1px #cccccc solid'>日期</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>早</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>午</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>晚</div>
			   </div>
		   </div>	
		</div>
		<div class="td" style=''>
		   <div class="css-table" style='width:455px;background-color:#ffeeff'>
		       <div class="tr">
					<div class="td" style='width:35px;border:1px #cccccc solid'>日期</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>早</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>午</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>晚</div>
			   </div>
		   </div>	
		</div>
		<div class="td" style=''>
		   <div class="css-table" style='width:455px;background-color:#eeeeee'>
		       <div class="tr">
					<div class="td" style='width:35px;border:1px #cccccc solid'>日期</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>早</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>午</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>晚</div>
			   </div>
		   </div>	
		</div>
		<div class="td" style=''>
		   <div class="css-table" style='width:455px;background-color:#FFFFCC'>
		       <div class="tr">
					<div class="td" style='width:35px;border:1px #cccccc solid'>日期</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>早</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>午</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>晚</div>
			   </div>
		   </div>	
		</div>
		<div class="td" style=''>
		   <div class="css-table" style='width:455px;background-color:#ffeeff'>
		       <div class="tr">
					<div class="td" style='width:35px;border:1px #cccccc solid'>日期</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>早</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>午</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>晚</div>
			   </div>
		   </div>	
		</div>
		<div class="td" style=''>
		   <div class="css-table" style='width:455px;background-color:#eeeeee'>
		       <div class="tr">
					<div class="td" style='width:35px;border:1px #cccccc solid'>日期</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>早</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>午</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>晚</div>
			   </div>
		   </div>	
		</div>
		<div class="td" style=''>
		   <div class="css-table" style='width:455px;background-color:#FFFFCC'>
		       <div class="tr">
					<div class="td" style='width:35px;border:1px #cccccc solid'>日期</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>早</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>午</div>
					<div class="td" style='width:140px;border:1px #cccccc solid'>晚</div>
			   </div>
		   </div>	
		</div>					
	  </div>  			
	 <div id='CalendarYear' style=''></div>
  </div>
</div>  
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

 
<script>
function cellXY(x,y){
	NoClass(x,y);
}

//課表限制(希望排課/不排課)
function NoClass(date,slot){
/**
	var feature = "width=550,height=400";
	var teacher_id = $("#teacher").val();
 	window.open("/Course/noClass?teacher_id="+teacher_id+"&dateSel="+date+"&slot="+slot,"",feature);
**/ 	
}	

$(document).ready(function() {
	CalendarYear();
})

function CalendarButton(direction){

	if(direction=='left'){
		if(Number($("#beginMonth").text())-1==0){$("#beginYear").text(Number($("#beginYear").text())-1);}
		if(Number($("#endMonth").text())-1==0){$("#endYear").text(Number($("#endYear").text())-1);}
		$("#beginMonth").text(Number($("#beginMonth").text())-1==0?12:(Number($("#beginMonth").text())-1));
		$("#endMonth").text(Number($("#endMonth").text())-1==0?12:(Number($("#endMonth").text())-1));

	}else if(direction=='right'){
		if(Number($("#beginMonth").text())+1==13){$("#beginYear").text(Number($("#beginYear").text())+1);}
		if(Number($("#endMonth").text())+1==13){$("#endYear").text(Number($("#endYear").text())+1);}
		$("#beginMonth").text(Number($("#beginMonth").text())+1==13?1:(Number($("#beginMonth").text())+1));
		$("#endMonth").text(Number($("#endMonth").text())+1==13?1:(Number($("#endMonth").text())+1));
	}
	CalendarYear();
}

function CalendarYear(){
	$(document).ajaxStart(function(){
		$('#message').html("<img src='/images/wait.gif' style='width:25px'/> 讀 取 中 ...");
	});	
	$(document).ajaxStop(function(){
		$('#message').text("");
	});		
	
	$.ajax({
		url : "/Course/Calendar_Grade",
		data : {
			        beginYear   : $("#beginYear").text(),
					beginMonth  : $("#beginMonth").text(),
					teacher_id  : $("#teacher").val(),
					school_code : $("#school").val(),
					category_id : $("#category").val()
			   },
		dataType : "text",
		success : function(data) {
			$("#CalendarYear").html(data);
		}
	});		
	$("#titleWidth").width(200+$("#myDataTalbe").width()<1400?1400:200+$("#myDataTalbe").width());
}
</script>
