
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head  th:include="/common/top_header"></head>
<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTabs">
    <li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/System/mainFlow">主流程</a></li>
    <li style='letter-spacing:2px;font-weight:bold'><a href="/System/systemAnalysis">訂單改報</a></li> 
    <li style='letter-spacing:2px;font-weight:bold'><a href="/System/gradeShelf">上下架</a></li>
    <li style='letter-spacing:2px;font-weight:bold'><a href="/System/gradeRefund">退費</a></li>
    <li style='letter-spacing:2px;font-weight:bold'><a href="/System/admFlow">行政流程</a></li>
    <li style='letter-spacing:2px;font-weight:bold'><a href="/System/makeUpNo">Video點數</a></li>
  </ul>
</div>   
<div>&nbsp;</div>
<div>&nbsp;</div>
<img src='/css/sa/mainflow.jpg' style='width:750px'>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

