
    .css-table{
        display: table;
         border-radius: 5px;
    }
    .css-table .thead{
        display:table-header-group;
    }
    .css-table .tbody{
        display:table-row-group;
    }
    .css-table .tr{
        display:table-row;
    }
    .css-table .th{
        display:table-cell;
        font-weight: bold;
        border-radius: 3px;
        vertical-align: middle;
        letter-spacing: 4px;
        color:#999999
    }
    .css-table .th1{
        display:table-cell;
        border-radius: 5px;
        vertical-align: middle;
        letter-spacing: 4px;
        color:#999999
    }
    .css-table .th2{
        display:table-cell;
        border-radius: 3px;
        letter-spacing: 3px;
        padding:5px;
        font-size:small;
        color:#000000
    }
    .css-table .th3{
        display:table-cell;
        border-radius: 0px;
        letter-spacing: 0px;
        padding:1px;
        text-align:left;
        font-size:small;
        color:#000000
    }          
    .css-table .td{
        display:table-cell;
        border-radius: 5px;
    }

    .css-table .td2{
        letter-spacing: 1px;
        display:table-cell;
        border-radius: 0px;
    }
    .help-block{
    	color:red;
    	font-weight:bold;
    	font-size:x-small;
    } 
    
      
