<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>					

  <script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script> 
  <script src="/js/moment.min.js" type="text/javascript"></script>
  <script src="/js/fullcalendar.min.js" type="text/javascript"></script> 
  <link rel="stylesheet" href="/css/fullcalendar.min.css">
  <link rel="stylesheet" media="print" href="/css/fullcalendar.print.css">

<div class="container-fluid">
	<ul class="nav nav-tabs" id="myTabs">
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">預約須知</a></li>
   	    <li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Adm/GmatMockSet1">GMAT</a></li>		
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">TOEFL-iBT</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">GRE</a></li>
    	<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">IELTS</a></li>
    	<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">TOEIC</a></li>	
	</ul>
</div>
<div>&nbsp;</div>
	<div class="css-table" style="border-spacing:3px">
		<div class="tr">
		    &#10074;<div class="td" style=""><A href="/Adm/GmatMockSet1"> 機考 </A></div><div class="td" style="width:20px"></div>
		    &#10074;<div class="td" style="background-color:#eeeeee"><A href="/Adm/GmatMockSet2"> 筆考 </A></div><div class="td" style="width:20px"></div>
		</div>
	</div>
<div>&nbsp;</div>	
