<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>					

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet"  />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>

<div class="container-fluid">
	<ul class="nav nav-tabs" id="myTabs">
		<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Adm/MockSetting">預約須知</a></li>
   	    <li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/GmatMockSet1">GMAT</a></li>		
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">TOEFL-iBT</a></li>
		<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">GRE</a></li>
    	<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">IELTS</a></li>
    	<li style='letter-spacing:2px;font-weight:bold'><a href="/Adm/MockSetting">TOEIC</a></li>		
	</ul>
</div>
<div>&nbsp;</div>