
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>
<div class="container-fluid"  style='letter-spacing:2px;font-weight:bold'>
  <ul class="nav nav-tabs" id="myTabs">
    <li><a href="/Adm/BookDiagram?slot=1">總表&座位</a></li>
    <li><a href="/Adm/TodayBook">櫃台預約</a></li>
    <li class="active"><a href="/Adm/todaySign">正班紀錄</a></li>
    <li><a href="/Adm/StudentVideoSign">Video紀錄</a></li>
    <li><a href="/Adm/MockSign">模考紀錄</a></li>
    <li><a href='javascript:void(0)'  onclick='openTodaySign()' style='color:darkorange;text-decoration:underline'>QRcode點名</a></li>
  </ul>
</div>

<div class="css-table" style="border-spacing:3px">
	<div class="tr">
	    &#10074;<div class="td" style="background-color:#eeeeee"><A href='/Adm/todaySign'> 今日點名紀錄 </A></div><div class="td" style="width:20px"></div>
		&#10074;<div class="td"><A href='/Adm/StudentSign'> 歷程紀錄 </A></div><div class="td" style="width:20px"></div>
	</div>
</div>

<div style='width:550px;padding:5px;border-radius:5px;margin-top:20px'>  
	<div class="css-table">			
		<div class="tr" style=''>
			<div class="td2" style='padding:10px;width:600px'>
			       <span style='letter-spacing:3px'>今日正班課程分校</span>
			       <span>
						<select id="school_code"  style='font-weight:bold;border-radius:5px;padding:7px;width:150px' onchange="getTodayGradeList()">
							<option th:each="item : ${LSchool}" th:value="${item.code}" th:utext="${item.name}"  th:selected="${item.code==SchoolCode}"/>
						</select>
				   </span>	
			</div>
		</div>		
	</div>
</div>			

<div>&nbsp;</div>
<div>&nbsp;</div>
<div style='width:800px'>
<table id="myDataTalbe" class="display" style='letter-spacing:2px'>
	<thead>
		<tr>
			<th>教室</th>
			<th>科目</th>
			<th>上課時間</th>
			<th>老師</th>
			<th>課堂</th>
			<th>點名紀錄</th>
		</tr>
	</thead>
</table>
</div>


<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<script type="text/javascript">
	function openTodaySign() {
 		var feature = "width=4000,height=4000";
 	    window.open("/Adm/openTodaySign","", feature);
 	}

	$(document).ready(
		function(){
			getTodayGradeList();
		}	
	)	
	
	function getTodayGradeList() {

		let table = $('#myDataTalbe').DataTable({
			"bDestroy": true,
			"searching" : false,
			"info" : false,
			"lengthChange" : false,
			ajax : {
				url : "/Course/getTodayGradeList",
				data : {
					school_code : $("#school_code").val()
				},				
				dataSrc : function(data) {
					return data;
				}
			},

			"columns" : [ 
				{"data" : "classRoom","className" : "text-center",
					"render" : function(data,type,row,meta) {
						return "<span style='font-weight:bold'>"+data+"</span>";
					}						
				}, 
				{"data" : "subject_name",
					"render" : function(data,type,row,meta) {
						return "<A href='#' onclick='open_newCourse(\""+row.grade_id+"\")' style='text-decoration:underline;color:blue'>"+data+"</A>";
					}
				},
				{"data" : "time_from","className" : "text-center",
						"render" : function(data,type,row,meta) {
							return data+"~"+row.time_to;
						}					
				},
				{"data" : "teacher_name"},		
			    {"data" : "class_th","className" : "text-center",
				     "render" : function(data,type,full,meta) {
			               return "第 "+data+" 堂";
		     		 }
				},

			    {"data" : "grade_id","className" : "text-center",
				     "render" : function(data,type,row,meta) {
					               return "<A href='#' onclick='signRecord(\""+data+"\",\""+row.school_code+"\")' style=''><img src='/images/people.png' height='12px'/></A>";
				     }
			    }				
			]
		});

	};	
	
 	function signRecord(grade_seq,school_code) {
 		var feature = "width=900,height=400,locationbar=false,scrollbar=yes,resizable=yes";
 	    window.open("/Adm/signRecord2?class_style=1&grade_id="+grade_seq+"&school_code="+school_code, "", feature);
 	}
 	
 	function open_newCourse(grade_seq){
 		var feature = "width=900,height=600,locationbar=false,scrollbar=yes,resizable=yes";
 	    window.open("/Course/newCourse?action=popView&grade_seq="+grade_seq,"", feature); 		
 	}
 	
 	$("#titleWidth").width(200+$("#myDataTalbe").width()<1400?1400:200+$("#myDataTalbe").width());	
</script>