
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head  th:include="/common/top_header"></head>
	<div class="container-fluid">
		<ul class="nav nav-tabs" id="myTabs">
			<li style='letter-spacing:2px;font-weight:bold' class="active"><a href="/Marketing/ClassTrial">講座/進班試聽</a></li>
			<li style='letter-spacing:2px;font-weight:bold' class=""><a href="/Marketing/Course">班級人數</a></li>
		</ul>
	</div>
	<div class="css-table" style="border-spacing:3px">
		<div class="tr">
		    &#10074;<div class="td" style=""><A href="/Marketing/ClassTrial"> 進班試聽 </A></div><div class="td" style="width:20px"></div>		
		    &#10074;<div class="td" style="background-color:#eeeeee"><A href="/Marketing/LectureSetting2"> 講座 </A></div><div class="td" style="width:20px"></div>
		</div>
	</div>
<div>&nbsp;</div>
	<div class="css-table" style='background-color:#ffffff;margin-left:100px;margin-top:15px;margin-bottom:5px'>
		<div class="tr">
			<div class="td"><button onclick="CalendarButton('left')" type="button" class="btn btn-secondary" style='font-size:large;padding:2px;background-color:#ffeeff;border:1px #dddddd solid;color:steelblue'>&nbsp;&#10094;&nbsp;</button></div>
	        <div class="td" style='width:100px;text-align:center;font-weight:bold;vertical-align:middle;color:steelblue;font-size:medium'>
	        	<span id='beginYear' th:text='${beginYear}'></span>年<span id='beginMonth' th:text="${beginMonth}"></span>月&nbsp;
	        </div>
	        <div class="td" id='message' align='center' style=''></div>
	        <div class="td"><button onclick="CalendarButton('right')" type="button" class="btn btn-secondary" style='font-size:large;padding:2px;background-color:#ffeeff;border:1px #dddddd solid;color:steelblue'>&nbsp;&#10095;&nbsp;</button></div>	
		    <div class="td" style='width:200px'>&nbsp;</div>
		    <div class="td" style=''>
				<select id="school_id" style='letter-spacing:2px;padding:2px;width:150px;border-radius:5px;color:white;background-color:deepskyblue' onchange='getLectureGrade()'>
					<option value=''>&nbsp;~ 所有分校 ~</option>
					<option th:each="item : ${schoolGroup}" th:value="${item.school_seq}" th:utext="${item.name}" />
				</select>				
		    </div>	        			
		</div>
	</div>

  <div style=''>
	 <div class="css-table" id='myDataTalbe'>
		  <div class="tr" style='letter-spacing:1px;text-align:center;font-size:small;font-weight:bold;background-color:#FFFFCC'> 
			<div class="td" style='width:80px;padding:3px;background-color:#FFFFCC;border:1px #cccccc solid;border-radius:0px'>日期</div>
			<div class="td" style='width:100px;border:1px #cccccc solid;border-radius:0px'>時間</div>
			<div class="td" style='width:200px;border:1px #cccccc solid;border-radius:0px'>課程講座</div>
			<div class="td" style='width:130px;border:1px #cccccc solid;border-radius:0px'>主講人</div>
			<div class="td" style='width:150px;border:1px #cccccc solid;border-radius:0px'>海報製作</div>
			<div class="td" style='width:170px;border:1px #cccccc solid;border-radius:0px'>Beclass/活動通</div>			
			<div class="td" style='width:150px;border:1px #cccccc solid;border-radius:0px'>網站上架狀況</div>
			<div class="td" style='width:150px;border:1px #cccccc solid;border-radius:0px'>備註</div>
		  </div>	  
	 </div> 
	 <div class="css-table" id='LectureGrade' style=''></div>
  </div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<script type="text/javascript">
$(document).ready(function() {
	getLectureGrade();
})

function CalendarButton(direction){
	if(direction=='left'){
		if(Number($("#beginMonth").text())-1==0){$("#beginYear").text(Number($("#beginYear").text())-1);}
		$("#beginMonth").text(Number($("#beginMonth").text())-1==0?12:(Number($("#beginMonth").text())-1));
	}else if(direction=='right'){
		if(Number($("#beginMonth").text())+1==13){$("#beginYear").text(Number($("#beginYear").text())+1);}
		$("#beginMonth").text(Number($("#beginMonth").text())+1==13?1:(Number($("#beginMonth").text())+1));
	}
	getLectureGrade();
}

function getLectureGrade(){
	
	$(document).ajaxStart(function(){
		$('#message').html("<img src='/images/wait.gif' style='width:30px'/> 讀 取 中 ...");
	});	
	$(document).ajaxStop(function(){
		$('#message').text("");
	});		
	
	
	$.ajax({
		url : "/Marketing/getLectureGrade",
		data : {
			        beginYear : $("#beginYear").text(),
					beginMonth : $("#beginMonth").text(),
					school_id : $("#school_id").val()
			   },
		dataType : "text",
		success : function(data) {
			$("#LectureGrade").html(data);
		}
	});	
}

function LectureFlowEdit(lecture_id,functions) {
	var feature = "top=0,left=800,width=670,height=400";
    window.open("/Marketing/LectureFlowEdit?lecture_id="+lecture_id+"&functions="+functions,"", feature);
}

$("#titleWidth").width(200+$("#myDataTalbe").width()<1400?1400:200+$("#myDataTalbe").width());
</script>


