<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>
<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTabs">
    <li><a href="/CourseSale/PromoSetting">促銷方案</a></li>
    <li><a href="/CourseSale/ComboSaleSetting">售價設定</a></li>
    <li class="active"><a href="/CourseSale/CourseCost">成本組合</a></li>
  </ul>
</div>
&nbsp;<br>
			<div id="css-table" class="css-table" style="border-spacing: 3px">
				<div class="tr">
				    <div class="td" style="background-color:lightyellow"><A href='/CourseSale/CostRatio'>[ 成本比率 ]</A></div><div class="td" style="width:20px"></div> 
					<div class="td"><A href='/CourseSale/CourseCost'>[ 課程/講義成本 ]</A></div><div class="td" style="width:20px"></div>
					<div class="td"><A href='/CourseSale/MockCost'>[ 模考成本 ]</A></div><div class="td" style="width:20px"></div>
					<div class="td"><A href='/CourseSale/MaterialCost'>[ 教材成本 ]</A></div><div class="td" style="width:20px"></div>
					<div class="td"><A href=''>[ 贈品成本 ]</A></div><div class="td" style="width:20px"></div>
					<div class="td"><A href='/CourseSale/CounselingCost'>[ 輔導成本 ]</A></div><div class="td" style="width:20px"></div>
					<div class="td"><A href=''>[ 它項成本 ]</A></div><div class="td" style="width:20px"></div>
				</div>
			</div>
&nbsp;<p>


	<table id="myDataTalbe" width="80%">
		<tr style="border:1px solid #dddddd;text-align:center;color:#999999;background-color:#ffefff";>
			<td width="20%" style='padding:5px'>類別</td>
			<td width="10%">人事管銷</td>
			<td width="10%">充電站</td>
			<td width="10%">其他贈品</td>
			<td width="10%">講義印製</td>
			<td width="10%">作業批改</td>
			<td width="10%">模考</td>
			<td width="10%">更新時間</td>
			<td width="10%">編輯</td>
		</tr>
        <tr th:each="costRatio : ${LCostRatio}" style='border-bottom:1px solid #dddddd;text-align:center'>
            <td style='padding:5px'><span th:text="${costRatio.category_name}"></span></td>
            <td><span th:text="${costRatio.hrPrice_R}"></span> %</td>
            <td><span th:text="${costRatio.counselingPrice_R}"></span> %</td>
            <td><span th:text="${costRatio.lagnappePrice_R}"></span> %</td>
            <td><span th:text="${costRatio.handoutPrice_R}"></span> %</td>
            <td><span th:text="${costRatio.homeworkPrice_R}"></span> %</td>
            <td><span th:text="${costRatio.mockPrice_R}"></span> %</td>
            <td><span th:text="${costRatio.update_time}" style='font-size:x-small'></span></td>
            <td><span><A th:href='${costRatio.costRatio_seq}'><img src='/images/edit.png' height='11px'/></A></span></td>
        </tr>			
	</table>
&nbsp;<p>






<script>
	function subjectData(category_id) {
		if (category_id) {
			$.ajax({
				url : "/Course/SubjectSearch",
				data : {
					category_id : category_id
				},
				dataType : "text",
				success : function(data) {
					$("#subject").html(data);
				}
			});
		} else {
			$("#subject").html("<option></option>");
		}
	}
</script>

