 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/top_header"></head>
<style type="text/css">
.dashedline {
	border: 1px #eeeeee solid;
}
</style>



<div class="container-fluid">
	<ul class="nav nav-tabs" id="myTabs">
		<li class="active"><a href="/CourseSale/ComboSaleSetting">銷售設定</a></li>
		<li><a href="/CourseSale/PromoSetting">促銷方案</a></li>
		<li><a href="/CourseSale/CounselingCost">成本組合</a></li>
	</ul>
</div>
&nbsp;
<br>
<form id='form1'>
<input type='hidden' name='isCombo' value="2"> <!--Virtual--> 
<input type='hidden' name='comboSaleName' value="">

<div id="css-table" class="css-table" style="border-spacing: 3px">
	<div class="tr">
		[<div class="td" style="background-color:greenyellow"><A href='/CourseSale/ComboSaleSetting'> 單科 / 套裝設定 </A></div>]<div class="td" style="width: 20px"></div>
		<div class="td"><A href=''>[ 試聽售價 ]</A></div><div class="td" style="width: 20px"></div>
	</div>
</div>
&nbsp;
<p>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default"  style='padding:2px'>
			<div class="panel-heading" align='left'>
				<span style=''><A href='/CourseSale/newSingleSale' style='text-decoration:underline'><b>新 增 單 科</b></A></span> <A href="#" class="tooltip-test" data-toggle="tooltip" title="操作流程介紹, 操作流程介紹, 操作流程介紹,操作流程介紹,操作流程介紹"><img src='/images/message.png' height='13px'/></A>
				<span style='background-color:palegreen;border-radius:5px;margin-left:20px'><A href='/CourseSale/newSingleSaleVirtual' style='text-decoration:underline'><b>新 增 虛 擬 單 科</b></A></span> <A href="#" class="tooltip-test" data-toggle="tooltip" title="操作流程介紹, 操作流程介紹, 操作流程介紹,操作流程介紹,操作流程介紹"><img src='/images/message.png' height='13px'/></A>
			</div>
			&nbsp;<p>
			<div id="css-table" class="css-table" style="border-spacing:3px">
				<div class="tr">
					<div class="td dashedline" align='left' style="background-color:#ffefff;padding:5px;text-align:center;border:1px">
						<div style='display:inline-block;font-size:small'>
								<select name='VirtualCategory_id' id='VirtualCategory_id' class="form-control" style="width:110px;font-weight:bold;font-size:small">
									<option value="-1">~ 類別 ~</option>
									<option th:each="item : ${categoryGroup}" th:value="${item.category_seq}" th:selected="${item.name=='其他'}" th:utext="${item.name}" />
								</select>																
						</div>	
						<div style='display:inline-block;font-size:small'>
								<input type='text' id='virtualSubjectName' name='virtualSubjectName' style='width:170px' class='form-control' placeholder='虛擬單科名稱'>					
						</div>	
						<div style='display:inline-block;font-size:small;margin-left:100px'>
								<select name='category_id' id='category_id' class="form-control" style="width:110px;font-weight:bold;font-size:small">
									<option value="-1" selected>~ 類別 ~</option>
									<option th:each="item : ${categoryGroup}" th:value="${item.category_seq}" th:utext="${item.name}" />
								</select>																
						</div>	
						<div style='display:inline-block;font-size:small'>
								<button type="button" class="btn-xs btn-info" onclick="AddComboSale();">加入單科</button>																
						</div>						        													
					</div>											
				</div>
			</div>
			
			<div id="css-table" class="css-table" style="border-spacing:1px;width:95%;background-color:#dddddd;text-align:center">			
				<div class="tr" style='background-color:#999999;color:white;font-size:small' >
					<div class="td2" style='padding:2px;width:21%'><br>科目</div>
					<div class="td2" style='padding:2px;width:8%'>單科<br>原價</div>
					<div class="td2" style='padding:2px;width:6%'>各科<br>實收</div>
					<div class="td2" style='padding:2px;width:6%'>人事<br>管銷</div>
					<div class="td2" style='padding:2px;width:14%'>
						<br>充電站
					</div>
					<div class="td2" style='padding:2px;width:14%'>
					    <br>其他贈品 
					</div>															
					<div class="td2" style='padding:2px;width:6%'>講義<br>印製</div>
					<div class="td2" style='padding:2px;width:6%'>作業<br>批改</div>										
					<div class="td2" style='padding:2px;width:13%'>
						<br>模考 
					</div>										
					<div class="td2" style='padding:2px;width:6%'>課程<br>收入</div>					
				</div>
			</div>	
			<div id="ListComboSale" class="css-table" style="border-spacing:1px;width:95%">		
<!------------------------------------------------------------------------------------------->							

<!------------------------------------------------------------------------------------------->					
			</div>	
			<div id="" class="css-table" style="border-spacing:1px;width:95%">							
				<div class="tr" style='color:darkblue;font-size:small' >
					<div class="td2" style='padding:2px;width:21%'></div>
					<div class="td2" style='padding:2px;width:8%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2 counselingArea" style='background-color:lightblue;padding:2px;width:14%;text-align:left'></div>
					<div class="td2 lagnappeArea" style='background-color:lightblue;padding:2px;width:14%;text-align:left'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2 mockArea" style='background-color:lightblue;padding:2px;width:13%;text-align:left'></div>
					<div class="td2" style='padding:2px;width:6%'></div>										
				</div>				
			</div>
			<div>&nbsp;</div>
			<div id="" class="css-table" style="border-spacing:1px;width:95%">							
				<div class="tr" style='background-color:white;font-size:small;font-weight:bold' >
					<div class="td2" style='padding:2px;width:21%'></div> 
					<div class="td2" style='padding:2px;width:8%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2" style='padding:2px;width:14%'></div>
					<div class="td2" style='padding:2px;width:14%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>
					<div class="td2" style='padding:2px;width:13%'></div>
					<div class="td2" style='padding:2px;width:6%'></div>									
				</div>				
			</div>						
		</div>
		<div class="col-md-12" align="center">
				<button type="button" id='draftButton' class="btn btn-sm btn-info">暫存草稿</button>&nbsp;&nbsp;
				<button type="button" id='sendButton' class="btn btn-sm btn-danger" onclick="">送審</button>&nbsp;&nbsp;		
		</div>
	</div>
</div>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>	
<input type='hidden' name='status_code' id='status_code'> 
</form>
&nbsp;<p>
&nbsp;<p>



<script>
	
function submitAction(){
    var form = $('#form1')[0];
    var formData = new FormData(form);
    $.ajax({
        url:'/CourseSale/ComboSaleSave',
        type : "POST",
        data : formData,
        contentType: false,
        cache: false,
        processData: false,
        success : function(data) 
        {
        	location.href = "/CourseSale/ComboSaleSetting";
        },
        error: function(data) 
        {
            alert("不成功!");
        }
    })
};	

	$("#draftButton").click(function() {
		if(checkInput()){
			$("#status_code").val("1");
			submitAction();
		}
	});
	
	$("#sendButton").click(function() {
		if(checkInput()){
			$("#status_code").val("2");
			submitAction();
		}
	});
	
	function checkInput(){		
		if($("#category_id").val()==-1){alert("請填寫[類別]!"); return false;}
		if($("#salePriceTotal").val()==''){alert("請填寫[單科售價]!"); return false;}
		return true;
	}
	
//設定原價
	function SetOriginPrice(thisObj,optionStr){
	var paramArray = new Array();
		paramArray=optionStr.split("@");
		$(thisObj).parent().parent().find('.originPrice').val(paramArray[1]);
		$(thisObj).parent().parent().find('.counselingName').html(paramArray[2]);
		$(thisObj).parent().parent().find('.lagnappeName').html(paramArray[3]);
		$(thisObj).parent().parent().find('.mockName').html(paramArray[4]);
		$('#originPriceTotal').val(paramArray[1]);
    }

//加入單科	
	function AddComboSale() {
			$.ajax({
				url : "/CourseSale/AddComboSaleList",
				data : {
					SelectCategoryId : $("#category_id").val()
				},
				dataType : "text",
				success : function(data) {
					$("#ListComboSale").append(data);
				}
			});	
	}
	
//開視窗加入項目	
    function openSelect(returnAreaId){
    	var category_id = $("#category_id").val();
 		var feature = "left=200,top=200,width=300,height=180";
 	    window.open("/CourseSale/openSelect?category_id="+category_id+"&returnAreaId="+returnAreaId, "", feature);    	
    }

</script>